<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlloToulouse"
        tools:targetApi="31">
        <activity
            android:name=".startupActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity_Toulouse"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity_Metropole"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity android:name=".main_menu"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity android:name=".dv.activity_popup_dv"
            android:screenOrientation="portrait"
            android:theme="@style/ModalStyle"
            android:label="Rendez-vous confirmé"
            android:exported="true">
        </activity>
        <activity
            android:name=".dv.dv_activity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".encombrants.encombrant_activity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity android:name=".encombrants.encombrant_popup"
            android:screenOrientation="portrait"
            android:theme="@style/ModalStyle"
            android:label="Rendez-vous confirmé"
            android:exported="true">
        </activity>
        <activity
            android:name=".degradations.degradations_activity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity android:name=".degradations.degradations_popup"
            android:screenOrientation="portrait"
            android:theme="@style/ModalStyle"
            android:label="Rendez-vous confirmé"
            android:exported="true">
        </activity>
        <activity android:name=".degradations.divers_deg_activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity_Toulouse"
            android:exported="true">
        </activity>
        <activity android:name=".degradations.regard_deg_activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity_Toulouse"
            android:exported="true">
        </activity>
    </application>

</manifest>